<div class="col-md-12">

  <div class="card text-white bg-primary formatar-card">
    <div class="card-body">
      <h4 class="card-title">Gerenciador de Pessoas</h4>
      <p class="card-text"></p>
      <div class="d-grid gap-4 justify-content-end">
        <a routerLink="/pessoa-cadastrar" class="btn btn-light">Cadastrar Pessoa</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 card-movimentacao">
    <div class="card border-light mb-3">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nome Completo</th>
              <th scope="col">Categoria da Pessoa</th>
              <th scope="col" class="text-center">Instituição Financeira</th>
              <th scope="col" class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pessoaList">
              <td>{{item.nomeCompleto}}</td>
              <td>{{item.categoriaPessoa.descricao}}</td>
              <td class="text-center">{{item.instituicaoFinanceira == true ? 'Sim' : 'Não'}}</td>
              <td class="text-center">
                <button class="btn btn-success text-white" style="margin: 4px;">Detalhar</button>
                <button type="submit" (click)="onEdit()" class="btn btn-warning text-white" style="margin: 4px;">Editar</button>
                <button type="submit" (click)="onDelete(item.codigo)" class="btn btn-danger text-white">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>