<div class="card mb-3">

    <form (ngSubmit)="onCadastrarPessoa()" [formGroup]="pessoaFormulario">
        <div class="card-body">
            <fieldset>

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/gerenciador-monitoramento">Monitoramento Financeiro</a></li>
                    <li class="breadcrumb-item"><a routerLink="/gerenciador-pessoa">Gerenciador de Pessoas</a></li>
                    <li class="breadcrumb-item active">Cadastro de Pessoas</li>
                </ol>

                <div *ngIf="isApresentarMensagemSucesso == true" class="d-flex w-100 justify-content-between" style="float: right; margin-top: -100px;">
                    <h5 class="mb-1"></h5>
                    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">KEYOSEF</strong>
                            <small></small>
                            <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="toast-body">
                            <h6>Pessoa Cadastrada com Sucesso!</h6>
                        </div>
                    </div>
                </div>

                <legend class="card-header text-center">
                    Cadastro de Pessoas
                </legend>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="nomeCompleto" class="form-label mt-4">Nome Completo</label>
                        <input type="text" formControlName="nomeCompleto" placeholder="Nome Completo" class="form-control" />
                    </div>

                    <div class="form-group col-md-4">
                        <label for="categoriaPessoaID" class="form-label mt-4">Categoria da Pessoa</label>
                        <select formControlName="categoriaPessoaID" class="form-select">
                            <option [disabled]="true">Selecione</option>
                            <option *ngFor="let item of categoriaPessoaList" [value]="item.codigo"> {{item.descricao}} </option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="exampleSelect1" class="form-label mt-4">Instituição Financeira</label>
                        <div class="form-check">
                            <label for="isInstituicaoFinanceira" class="form-check-label" style="margin-right: 180px;">
                                <input type="radio" formControlName="isInstituicaoFinanceira" class="form-check-input" value="true" /> Sim
                            </label>
                            <label for="isInstituicaoFinanceira" class="form-check-label">
                                <input type="radio" formControlName="isInstituicaoFinanceira" class="form-check-input" value="false" checked="" /> Não
                            </label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="localizacao" class="form-label mt-4">Localização</label>
                        <input type="text" formControlName="localizacao" placeholder="Localização" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="papelPessoaID" class="form-label mt-4">Papel da Pessoa</label>
                        <select formControlName="papelPessoaID" class="form-select">
                            <option [disabled]="true">Selecione</option>
                            <option *ngFor="let item of papelPessoaList" [value]="item.codigo"> {{item.descricao}} </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="form-group">
                            <label for="imagem" class="form-label mt-4">Imagem</label>
                            <input type="file" formControlName="imagem" class="form-control">
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
        <div class="footer text-center card-header">
            <button type="submit" class="btn btn-primary col-md-9" style="margin: 4px;">Cadastrar</button>
            <button type="button" routerLink="/gerenciador-pessoa" class="btn btn-danger btn-border col-md-2">Cancelar</button>
        </div>
    </form>
</div>